<div class="markentry-container">
  <div class="welcome-section">
    <h2>Welcome, {{ faculty.name }}</h2>
    <p>Faculty ID: {{ faculty.id }}</p>
    <p>Department: {{ faculty.department }}</p>
    <p>Designation: {{ faculty.Designation }}</p>
  </div>

  <mat-form-field class="search-field" appearance="fill">
    <mat-label>Search Student by Name or Roll Number</mat-label>
    <input matInput [(ngModel)]="searchTerm"  />
  </mat-form-field>

  <div class="student-list" *ngIf="!selectedStudent">
    <div
      class="student-box"
      *ngFor="let student of filterStudents"
      (click)="selectStudent(student)"
    >
      <span class="student-name">{{ student.name }}</span>
      <span class="student-roll">{{ student.id }}</span>
    </div>
  </div>

  <div class="mark-entry-form" *ngIf="selectedStudent">
    <h3>Enter Marks for: {{ selectedStudent.name }}</h3>
    <div class="marks-fields">
      <div style="display: flex;flex-direction: column; margin-bottom: 10px;"  class="stage-container">
        <button [ngClass]="selectedStage === i ? 'black-button' : ''" *ngFor="let stage of stages, let i = index" mat-button (click)="openDialog(i)">Stage {{ i + 1 }}</button>
      </div>
      <ng-container *ngIf="stageSelected()">
        <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;width: 85%;margin-left: 10px;
        background-color: white;padding: 25px;border-radius: 10px;border: 1px solid #ccc;
        ">  
            @for(param of selectedParameters;track $index;let i = $index){
              <mat-form-field appearance="outline">
                <mat-label>{{param.parameterName}}</mat-label>
                <input matInput type="number" [(ngModel)]="marks[i]" />
                <mat-hint>Max Marks: {{param.maxMark}}</mat-hint> 
              </mat-form-field>
            }
            <div>
              <button mat-button (click)="submitMarks()">Reset</button>
            </div>
        </div>
      </ng-container>
    </div>
    <!-- <div class="total-section">Total: {{ calculateTotal() }}</div> -->
    <button class="submit-button" (click)="submitMarks()">Submit</button>
    <br />
  </div>
  <br /><br />
</div>
