
  <div class="container">
    <!-- Welcome Banner -->
    <div *ngIf="showWelcomeMessage" class="welcome-banner">
      <p>Welcome, {{ student.name || 'Student' }}! Here is your student profile.</p>
    </div>
    <!-- Profile and Rank Containers -->
    <div class="profile-rank-container">
      <!-- Profile Container -->
      <div class="profile-container">
        <div style="display: flex; align-items: center">
          <img src="photo.jpg" alt="Profile Picture" />
          <div class="profile-info">
            <h5>NAME: {{ (student.name | uppercase) || 'N/A' }}</h5>
            <h5>ROLL NO: {{ (student.id | uppercase) || 'N/A' }}</h5>
            <h5>YEAR: {{ (student.yearOfStudy | uppercase) || 'N/A' }}</h5>
            <h5>DEPARTMENT: {{ (student.department | uppercase) || 'N/A' }}</h5>
          </div>
        </div>
      </div>

      <!-- Rank Container -->
      <div class="rank-container">
        <h2>RANK</h2>
        <h1>{{ student.placementRank || 'N/A' }}</h1>
      </div>
      <div class="rank-container">
        <h2>DEPARTMENT RANK</h2>
        <h1>{{ student.deptRank || 'N/A' }}</h1>
      </div>
    </div>

    <!-- Statistics Boxes -->
    <div class="stats-container">
      <div class="stat-box">
        <h5>CURRENT PLACEMENT FA%</h5>
        <h3>{{ student.currentPlacementFa || 'N/A' }}</h3>
      </div>
      <div class="stat-box">
        <h5>CUMULATIVE PLACEMENT FA%</h5>
        <h3>{{ student.cummulativeFa || 'N/A' }}</h3>
      </div>
      <div class="stat-box">
        <h5>ATTENDANCE%</h5>
        <h3>{{ student.attendance || 'N/A' }}</h3>
      </div>
      
      <div class="placement-box">
        <h2>PLACEMENT UPDATES</h2>
        <mat-card style="margin-bottom: 20px;" *ngFor="let update of placementUpdates" class="update-card">
          <mat-card-header>
            <mat-card-title>{{ update.title }}</mat-card-title>
            <mat-card-subtitle>{{ update.startDate | date: 'mediumDate' }} - {{ update.endDate | date: 'mediumDate' }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ update.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <a mat-button color="primary" [href]="update.link" target="_blank">Apply Now</a>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>